* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
}
.gun {
  position: absolute;
  top: 300px;
  left: 0px;
  width: 300px;
  height: 100px;
  border: 2px solid black;
}
.text{
  width: 200px;
  height: 50px;
  color: white;
  display: flex;
  font-size: 27px;
  position: absolute;
  top: 100px;
  left: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: black;
}
.shoot {
  width: 30px;
  height: 100px;
  top: 300px;
  right: 600px;
  border: 2px solid blue;
  position: absolute;
  transform: rotate(90deg);
  background-color: black;
}
.acces{
  top: 0px;
  right: 0px;
  width: 50px;
  height: 200px;
  position: absolute;
  border: 2px solid black;
  background-color: red;
  animation: acces 1s alternate infinite;
}

@keyframes acces{
  0%{
    top: 0px;
  }
  100%{
    top: 500px;
  }
}

